<section id="join-us">
  <div class="container-fluid">
    <div class="row align-items-center bg-LightGrey">
      <div class="col-12 col-md-6 sec-video px-0">
        <div class="position-relative parent-overlay">
          <video class="video" controls>
            <source src="assets/video/join-us.mp4" type="video/mp4">
                Your browser does not support the video tag.
          </video>
          <div class="icon position-absolute d-flex justify-content-center align-items-center" (click)="displayNone()">
              <i class="fas fa-caret-right color-primaryColor"></i>
            <!-- <img src="assets/img/icon/play-arrow.svg" alt="Play" class="img-fluid"> -->
          </div>
          <div class="over-lay"></div>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center  px-0 content">
        <h4>Welcome to Venta</h4>
        <h2><span class="font-bold">join </span><span class="color-secondaryColor">us</span></h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.</p>
        <button>sign up</button>
      </div>
    </div>
  </div>
</section>