.heroBgImg{
    background-image: url("../../../../assets/img/BackGround/headerBg-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
}

// .props{
//    padding-top: 170px;
// }
h1{
    color:#fad105;
    span{
        font-weight: bold;
        color:#2d81ca;
    }
}