//============fonts============
<<<<<<< HEAD
$fontSize-h1:3rem;//50px
$fontSize-h2:2rem;//35px
$fontSize-h3:1rem;//24px
$fontSize-h4:0.4667rem;//14px
$fontSize-p:0.4667rem;//14px
=======
$fontSize-h1:2.3rem;
$fontSize-h2:2rem;
$fontSize-h3:1rem;
$fontSize-h4:0.4667rem;//14px
$fontSize-p:.7rem;//14px
>>>>>>> home-dashboard
$fontSize-btn:0.55rem;//14px
$fontSize-icon:1.167rem;//15px
//============fontWeigh============
$fontWeightBtn:300;
$fontWeight:600;
$fontWeightP: 300;
//============Colors===============
$primaryColor:#2d81ca;
$secondaryColor:#fad105;
$paragraphGrey:#707070;
$headerActive: #b0b0b0;
$headerNonActive: #d0d0d0;
$headerShadow:#fef9e1;
$iconGrey:#b0b0b0;
$lineThroughRed:#ff5b5b;
<<<<<<< HEAD
$overLayColor:#f4da5f;
$inputLine:#9c9c9c;
$inputFontColor:#7f7f7f;

=======
$overLayColor:rgba(244, 218, 95, 0.8);
$inputLine:#9c9c9c;
$inputFontColor:#7f7f7f;
$bgLightGrey:#f6f6f6;
$colorWhite:#fff;
>>>>>>> home-dashboard
//====button colors====
$BtnFontColor:#fff;

